---
import Layout from "../layouts/Layout.astro";
---
<Layout>
    <main>
        <h1>404 - Page not found</h1>
        <p>La page que vous cherchez n'existe pas.</p>
    </main>
</Layout>

<style>
    main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 85%;
    }

    h1, p {
        text-align: center;
    }
</style>